# config/services.yaml
parameters:
    # Configuration du mailer
    app.mailer_from_address: '%env(MAILER_FROM_ADDRESS)%'
    app.mailer_from_name: '%env(MAILER_FROM_NAME)%'

services:
    # Default configuration for services
    _defaults:
        autowire: true
        autoconfigure: true

    # Makes classes in src/ available to be used as services
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # Controllers are imported separately to make sure services can be injected as action arguments
    App\Controller\:
        resource: '../src/Controller/'
        tags: ['controller.service_arguments']

    App\Service\FileUploader:
        arguments:
            $targetDirectory: '%kernel.project_dir%/public/uploads/profils'